.formRename{
	display: flex;
	width: 83vw;
	height: 100%;
	flex-direction: row;
	background-color: var(--BigBlack);
	padding: 0.5vw;
	overflow-y: overlay;
	justify-content: space-around;
	align-items: center;
}
	.formRename .btn{
		display: flex;
		background-color: var(--ShadowGold);
		border: none;
		padding: 0.5vw;
		font-size: 1.5vh;
		font-family: monospace;
		font-weight: bold;
		color: var(--Black);
		border-radius: 0.5vw;
		text-decoration: none;
	}
		.formRename .btn:hover{
			cursor: pointer;
			font-size: 2vh;
		}
	.inputRename{
		display: flex;
		width: 52vw;
		height: 3vh;
		align-items: center;
		justify-content: center;
		background-color: var(--BigBlack);
		color: var(--Gold);
		font-weight: bold;
		font-family: monospace;
		font-size: 2vh;
		border: none;
		padding: 0vh 0.5vw;
	}
		.inputRename:hover{
			cursor: pointer;
		}
		.inputRename::-webkit-input-placeholder{
            color: var(--ShadowGold);
        }
        .inputRename:focus{
            color: var(--BigBlack);
            background-color: var(--ShadowGold);
            border-radius: 0.5vw;
        }