@import 'preset.css';
@import 'rename.css';
  .menuMouse{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 18vh;
    width: 11vw;
    background-color: var(--Gold);
    padding: 1vw;
    border-radius: 0.5vw;
    font-family: monospace;
    font-size: 2vh;
    font-weight: bold;
  }
    .menuMouse a{
      width: 100%;
      text-decoration: none;
      color: var(--ShadowGold);
    }
      .menuMouse a:hover{
        color: var(--BigBlack);
        border-bottom: 2px solid var(--BigBlack);
      }
    .menuMouse button{
      width: 100%;
      background-color: var(--Gold);
      color: var(--ShadowGold);
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: monospace;
      font-size: 2vh;
      font-weight: bold;
    }
      .menuMouse button:hover{
        color: var(--BigBlack);
        border-bottom: 2px solid var(--BigBlack);
      }
  .legenda{
      display: flex;
      height: 5vh;
      width: 100vw;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: var(--Gold);
      border-bottom: 2px solid var(--ShadowGold);
      font-size: 2vh;
      font-weight: bold;
      font-family: monospace;
  }
      .legenda .ul{
          width: 8vw;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
      }
        .legenda .ul:hover{
          cursor: default;
        }
          .legenda .ul .icon{
              margin-right: 1vw;
          }
  .tolls{
      display: flex;
      position: fixed;
      flex-direction: column;
      background-color: var(--Gold);
      width: 2vw;
      height: 57vh;
      margin: 22vh 0vw 0vh 95vw;
      justify-content: space-around;
      align-items: center;
      border-radius: 0.5vw;
      font-size: 3vh;
      color: var(--ShadowGold);
  }
    .tolls .toll{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
      .tolls .toll:hover{
          cursor: pointer;
          font-size: 4vh;
          box-shadow: 0px 0px 0px 8px var(--Gold);
          border-radius: 5vw;
          background-color: var(--Gold);
      }
        .tolls .toll h3{
          display: none;
          color: var(--Black);
          background-color: var(--ShadowGold);
          font-size: 2vh;
          font-weight: bold;
          font-family: monospace;
          width: 12vw;
          align-items: center;
          border-radius: 2px;
          position: absolute;
          margin-left: -12.5vw;
          border: 1px solid var(--Gold);
          justify-content: center;
          animation: 0.2s left linear;
        }
          .tolls .toll:hover h3{
            display: flex;
          }
        .tolls .toll .icon{
            display: flex;
        }
  .painelFile{
    display: flex;
    width: 88vw;
    margin-top: 5vh;
    height: 78vh;
    flex-direction: column;
    background-color: var(--BigBlack);
    border: 3px solid var(--ShadowGold);
    padding: 1vw;
    overflow-y: overlay;
    border-radius: 0.5vw;
    justify-content: center;
    align-items: center;
  }
    .imgMostPainel{
      height: 90%;
      border-radius: 0.5vw;
    }
  .painel{
      display: flex;
      width: 88vw;
      margin-top: 5vh;
      height: 78vh;
      flex-direction: column;
      background-color: var(--BigBlack);
      border: 3px solid var(--ShadowGold);
      padding: 1vw;
      overflow-y: overlay;
      border-radius: 0.5vw;
  }
    .painel .linha{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: 0px 3px 0px -2px var(--ShadowGold);
        background-color: var(--BigBlack);
        color: var(--Gold);
        font-size: 1.5vh;
        font-weight: bold;
        font-family: monospace;
        margin-bottom: 1vh;
        align-items: center;
        padding: 0.5vw;
    }
      .painel .linha:hover{
        cursor: pointer;
        box-shadow: 0px 3px 7px -2px var(--ShadowGold);
      }
        .painel .linha .label{
          margin-left: 2vw;
        }
        .painel .linha .btn{
          display: flex;
          width: 7vw;
          height: 4vh;
          align-items: center;
          justify-content: center;
          border-radius: 1vw;
          background-color: var(--Gold);
          color: var(--Black);
          font-weight: bold;
          font-family: monospace;
          font-size: 2vh;
          text-decoration: none;
        }
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    animation: 0.7s modal linear;
    height: 27vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 29vw;
    margin-top: 4vh;
    background-color: var(--Gold);
    border-radius: 0.5vw;
    box-shadow: 0px 0px 0px 2px var(--ShadowGold);
}
  .iconModal{
    display: flex;
    position: absolute;
    color: var(--ShadowGold);
    margin: 0vh 0vw 26vh 28vw;
    background-color: var(--Gold);
    border-radius: 4vw;
    font-size: 6vh;
    border: 2px solid var(--Gold);
  }
     .iconModal:hover{
       cursor: pointer;
       font-size: 7vh;
     }
  .modalCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 27vw;
    height: 12vh;
    border: 2px solid rgba(0 0 0 / 10%);
  }
    .inputEnvil{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
      .inputEnvil label{
        color: var(--Black);
        font-size: 1.5vh;
        font-family: monospace;
        font-weight: bold;
      }
      .inputEnvil .lbM{
        display: flex;
        width: 13vw;
        height: 4vh;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--ShadowGold);
        border-radius: 1vw;
        background-color: var(--Gold);
        color: var(--Black);
        font-weight: bold;
        font-family: monospace;
        font-size: 2vh;
      }
        .inputEnvil .lbM:hover{
          background-color: var(--ShadowGold);
          cursor: pointer;
        }
        .inputEnvil .label-hover{
          display: flex;
          width: 13vw;
          height: 4vh;
          align-items: center;
          justify-content: center;
          border: 2px solid var(--ShadowGold);
          border-radius: 1vw;
          background-color: var(--Gold);
          color: var(--Black);
          font-weight: bold;
          font-family: monospace;
          font-size: 2vh;
        }
      .inputModal{
        width: 12vw;
        font-size: 1.5vh;
        text-align: center;
        font-weight: bold;
        background-color: var(--Gold);
        border: 1px solid var(--ShadowGold);
        border-radius: 0.3vw;
        color: var(--BigBlack);
      }
        .inputModal:hover{
            cursor: pointer;
        }
        .inputModal::-webkit-input-placeholder{
            color: var(--ShadowGold);
        }
        .inputModal:focus{
            color: var(--BigBlack);
            background-color: var(--ShadowGold);
        }
  .btnModal{
      display: flex;
      width: 7vw;
      height: 4vh;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--ShadowGold);
      border-radius: 1vw;
      background-color: var(--Gold);
      color: var(--Black);
      font-weight: bold;
      font-family: monospace;
      font-size: 2vh;
  }
    .btnModal:hover{
      background-color: var(--ShadowGold);
      cursor: pointer;
    }
@keyframes modal{
    0%{
        margin-top: -80vh;
    }
    100%{
        margin-top: 4vh;
    }
}

@keyframes modalSumir{
    0%{
        margin-top: 4vh;
    }
    100%{
        margin-top: -80vh;
        display: none;
    }
}

@keyframes left{
  0%{
    margin-left: 7vw;
  }
  100%{
    margin-left: -12.5vw;
  }
}